.height-100vh {
  overflow: hidden;
  .back {
    svg {
      filter: drop-shadow(1px 2px 4px rgb(0, 0, 0));
    }
  }
  .main {
    position: absolute;
    top: 190px;
    width: 99%;
    height: 100%;
    background: #fff;
    border-radius: 50px 50px 0 0;
    color: $s-color;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding-top: 1.8rem;

    @include phone {
      width: 93vw;
      border-radius: 70px 70px 0 0;
    }

    @include ipads {
      width: 60vw;
      justify-content: center;
      margin-left: 8.9rem;
      justify-content: flex-start;
      padding-top: 5rem;
      height: 82%;
      margin-bottom: 200px;
      border-radius: 100px;
    }

    @include ipad-pro {
      filter: drop-shadow(1px 4px 8px rgb(82, 81, 81));
    }

    @include web-browser {
      top: 50px;
      width: 50%;
      border-radius: 50px;
      height: 90%;
      margin-left: 20%;
      padding-top: 1.9rem;
    }

    .login {
      width: 100vw;
      text-align: center;
      h2 {
        font-size: 2.5rem;
      }
    }

    .b-margin {
      margin-bottom: 2rem;
    }
    .field {
      margin-top: 3rem;
      background-color: transparent;
      border: 1px solid #000;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      padding: 0.3rem 1.5rem;
      border-radius: 25px;
      @include ipads {
        border-radius: 50px;
      }

      .icon-field {
        width: 30px;
      }

      img {
        width: 40px;
      }

      input {
        height: 2.1rem;
        width: 200px;
        background-color: transparent;
        border: 0;
        padding-left: 0.4rem;

        @include ipads {
          height: 3rem;
          width: 250px;
          padding: 0.9rem;
        }

        &:focus,
        &:active {
          border: none;
          background: transparent;
          outline: none;
        }
      }
    }

    img {
      width: 150px;
    }

    .buttons {
      display: flex;
      align-items: center;
      justify-content: flex-start;
      flex-direction: column;
      margin-top: 2rem;

      @include web-browser {
        margin-top: 0;
      }

      a {
        text-decoration: none;
        color: #fff;
        font-size: 1.1rem;
      }
      .forgot {
        text-decoration: none;
        text-align: center;
        font-size: 1.1rem;
        color: unset;
      }

      &-login {
        margin-top: 3.5rem;
        background: $s-color;
        padding: 0.9rem 8.4rem;
        border-radius: 50px;

        &:hover {
          background: transparent;
          border: 1px solid $s-color;
        }
        &:hover a {
          color: $s-color;
        }
      }

      &-google {
        margin-top: 1rem;
        display: flex;
        align-items: center;
        padding: 0.2rem 3.2rem;
        justify-content: center;
        border: 1px solid $s-color;
        border-radius: 50px;

        img {
          width: 50px;
        }

        a {
          color: unset;
          background: transparent;
        }
      }
    }
  }

  footer {
    .circle {
      position: absolute;
      z-index: -1;
      top: -50px;
      width: 200px;
      height: 200px;
      border-radius: 50%;
      background: #ccd1fb;
      right: -100px;
      opacity: 0.5;
    }
    .circle2 {
      position: absolute;
      z-index: -1;
      top: 50px;
      left: 150px;

      width: 100px;
      height: 100px;
      border-radius: 50%;
      background: #ccd1fb;
      opacity: 0.5;
    }
    .circle3 {
      position: absolute;
      z-index: -1;
      top: 150px;
      width: 50px;
      height: 50px;
      border-radius: 50%;
      background: #ccd1fb;
      left: 10px;
      opacity: 0.5;
    }
  }
}
